Django>=4.2,<5.0
djangorestframework>=3.14.0
drf-yasg>=1.21.5
django-filter>=23.5
psycopg2-binary>=2.9.9
streamlit>=1.37.0
pandas>=2.2.2
matplotlib>=3.9.2
seaborn>=0.13.2
requests>=2.32.3
faker>=25.0.1
